@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  background-image: url(../multimedia/background2.jpg);
  background-repeat: repeat;
  background-attachment: mixed;
  background-position: center;
}

.anuncio-rgba {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px;
  padding: 2px auto;
  border-radius: 0.5rem;
  margin: 5px;
  border: double;
}
.anuncio-rgba p {
  color: gray;
  font-weight: "Roboto", sans-serif;
  font-size: small;
  margin: 5px 5px;
}

#flex {
  display: flex;
  justify-content: start;
}

.tt {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 10px auto;
  margin: 5px;
  border-radius: 0.5rem;
}

.titulo-central {
  background-color: rgba(128, 128, 128, 0.438);
  padding: 10px 10px;
  border-radius: 0.5rem;
  border: double;
}
.titulo-central:hover {
  color: blueviolet;
}

.spam:hover {
  color: white;
}

.cambio-de-color {
  color: black;
  font-size: x-small;
  font-weight: bold;
}

.titulo-contacto {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px;
  padding: 2px auto;
  border-radius: 0.5rem;
  margin: 5px;
  border: double;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(124, 124, 124, 0.214);
  padding: 10px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 5px;
}
form label {
  font-size: 500;
  display: block;
  width: 100%;
}
form .label-black {
  font-weight: bold;
}
form input, form textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;
  font-size: larger;
}
form textarea {
  resize: vertical;
  max-height: 100px;
  min-height: 100px;
}
form #btn {
  background: rgba(128, 128, 128, 0.438);
  color: black;
  font-weight: bold;
  padding: 5px;
}
form #btn:hover {
  color: blueviolet;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
div .map {
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
  background-color: rgba(128, 128, 128, 0.438);
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 5px;
  border: double;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#footer h2 {
  font-weight: bold;
  font-size: larger;
  display: flex;
  justify-content: center;
}

#footer2 {
  display: flex;
}

.novedades h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 10px 10px;
  border-radius: 0.5rem;
  border: double;
}

#contenedor {
  display: flex;
  flex-direction: column;
}
#contenedor .galeria {
  display: flex;
}
#contenedor .galeria p.precios {
  color: black;
  font-size: larger;
  font-weight: bolder;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#contenedor .galeria figcaption {
  font-size: 500;
  color: black;
  font-weight: 500;
  padding: 2px;
}
#contenedor .galeria button {
  background-color: pink;
  font-weight: bold;
  padding: 5px 5px;
}
#contenedor .galeria button:hover {
  color: blueviolet;
}

#nuestros-trabajos h1 {
  background-color: rgba(128, 128, 128, 0.438);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 0.5rem;
  border: double;
}

.card-smd {
  font-size: 1.2em;
}

.p-letters {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: bold;
}

button {
  background-color: pink;
  font-weight: bold;
  padding: 5px 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
button:hover {
  color: blueviolet;
}

#info {
  display: flex;
  justify-content: center;
  padding: 30px;
}
#info img {
  width: 25%;
  margin: 20px;
  background-color: rgba(124, 124, 124, 0.214);
}
#info .img1 {
  background-color: rgba(128, 128, 128, 0.438);
}

@media (max-width: 1024px) {
  #info {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
}
h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px;
  border-radius: 2px;
  border: double;
}

h2 {
  border: double;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px;
  border-radius: 2px;
}

p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 2px;
  font-weight: "Roboto", sans-serif;
}

.p-color {
  color: gray;
}

.firs-l::first-letter {
  color: white;
  background-color: blueviolet;
  font-size: x-large;
  padding-bottom: 10px;
  border: double;
  padding: 2px;
}

.spam-2 {
  font-weight: bold;
  transition: 0.5s linear;
  text-shadow: 0 0 20px black;
}
.spam-2:hover {
  color: black;
}

.spam-3 {
  font-weight: bold;
  transition: 0.5s linear;
  text-shadow: 0 0 10px blueviolet;
}
.spam-3:hover {
  color: blueviolet;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 10px auto;
  margin: 5px;
  border-radius: 0.5rem;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
  padding-left: 5px;
  color: blueviolet;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 10px auto;
  margin: 5px;
  border-radius: 0.5rem;
}

.card {
  border: double;
  background-color: rgba(128, 128, 128, 0.438);
}

h3 {
  color: black;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#nav {
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px 5px;
  margin: 5px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#nav img {
  width: 150px;
}
@media (min-width: 280px) and (max-width: 320px) {
  #nav img #nav img[src="multimedia/logo-bonitas-nails.svg"] {
    width: 140px;
  }
}
@media (min-width: 280px) and (max-width: 320px) and (min-width: 280px) and (max-width: 320px) {
  #nav img #nav img[src="../multimedia/logo-bonitas-nails.svg"] {
    width: 140px;
  }
}
#nav ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
#nav ul li {
  padding: 5px;
}
#nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: larger;
  font-size: 1.2em;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
#nav ul li a:hover {
  color: rgba(0, 110, 255, 0.87);
}
#nav ul li a:hover {
  color: black;
  font-weight: 500;
  background-size: 100% 2px;
}/*# sourceMappingURL=main.css.map */