@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  background-image: url(../multimedia/background2.jpg);
  background-repeat: repeat;
  background-attachment: mixed;
  background-position: center;
}

.anuncio-rgba {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px;
  padding: 2px auto;
  border-radius: 0.5rem;
  margin: 5px;
  border: double;
}

p {
  color: black;
  font-weight: bold;
}
p .texto-anucio {
  font-weight: bold;
  color: black;
  margin: 5px 5px;
}

h1 h2 h3 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.tt {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 10px auto;
  margin: 5px;
  border-radius: 0.5rem;
}

.titulo-central {
  background-color: rgba(128, 128, 128, 0.438);
  padding: 10px 10px;
  border-radius: 0.5rem;
  border: double;
}
.titulo-central:hover {
  color: blueviolet;
}

.spam:hover {
  color: white;
}

.cambio-de-color {
  color: black;
  font-size: x-small;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  padding: 2px auto;
  border-radius: 0.5rem;
  margin: 5px;
}

.titulo-contacto {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px;
  padding: 2px auto;
  border-radius: 0.5rem;
  margin: 5px;
  border: double;
}

form div {
  margin-top: 5px;
  margin-bottom: 5px;
}
form div .text-black {
  color: black;
  font-weight: bold;
}

#contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

div .map {
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
  background-color: rgba(128, 128, 128, 0.438);
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 5px;
  border: double;
  display: flex;
  flex-direction: column;
}
#footer h2 {
  font-weight: bold;
  font-size: larger;
  display: flex;
  justify-content: center;
}

#footer2 {
  display: flex;
}

.novedades h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 10px 10px;
  border-radius: 2px;
  border: double;
}

#contenedor {
  display: flex;
  flex-direction: column;
}
#contenedor .galeria {
  display: flex;
}
#contenedor .galeria p.precios {
  color: black;
  font-size: larger;
  font-weight: bolder;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#contenedor .galeria button {
  background-color: pink;
  font-weight: bold;
  padding: 5px 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#contenedor .galeria button:hover {
  color: rgba(0, 110, 255, 0.87);
}
#contenedor .novedades {
  padding: 5px;
}
#contenedor .novedades h1 p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
  color: gray;
}
#contenedor .galeria figure {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 10px 10px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}
#contenedor .galeria figure img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#contenedor .galeria figure figcaption {
  font-size: larger;
  color: black;
  font-weight: bolder;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.438);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.seccion {
  display: flex;
}
.seccion figure {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.438);
  padding-bottom: 5px;
  margin: 2px;
  border: ridge;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

#nuestros-trabajos h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 10px 10px;
  border-radius: 2px;
  border: black double;
}
#nuestros-trabajos h1 h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  background-color: rgba(128, 128, 128, 0.438);
  padding-left: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 5px;
  border: ridge;
}
#nuestros-trabajos h1 h2 p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: gray;
  font-family: "Roboto", sans-serif;
}
#nuestros-trabajos h1 h2 button {
  background-color: pink;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
}

.info {
  display: flex;
  padding: 30px;
}

.info-novedades h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px;
  border-radius: 2px;
  border: black double;
}
.info-novedades h1 .tt {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 10px auto;
  margin: 5px;
  border-radius: 0.5rem;
}

#nosotros-s h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px;
  border-radius: 2px;
  border: black double;
}
#nosotros-s h1 .tt {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 10px auto;
  margin: 5px;
  border-radius: 0.5rem;
}
#nosotros-s h1 p {
  font-size: 1.2em;
  line-height: 1.6em;
  padding-left: 5px;
  color: gray;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
}

h2 .galeria-f {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.438);
  padding-left: 5px;
  border-radius: 2px;
  border: ridge;
}

.card {
  border: double;
}
.card h3 {
  background-color: pink;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#nav {
  background-color: rgba(128, 128, 128, 0.438);
  padding: 5px 5px;
  margin: 5px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#nav img {
  width: 150px;
}
@media (min-width: 280px) and (max-width: 320px) {
  #nav img #nav img[src="multimedia/logo-bonitas-nails.svg"] {
    width: 140px;
  }
}
@media (min-width: 280px) and (max-width: 320px) and (min-width: 280px) and (max-width: 320px) {
  #nav img #nav img[src="../multimedia/logo-bonitas-nails.svg"] {
    width: 140px;
  }
}
#nav ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
#nav ul li {
  padding: 5px;
}
#nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: larger;
  font-size: 1.2em;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
#nav ul li a:hover {
  color: blue;
}
#nav ul li a:hover {
  color: black;
  font-weight: 600;
  background-size: 100% 2px;
}/*# sourceMappingURL=main.css.map */