body {
    background-image: url(../multimedia/background2.jpg);
    background-repeat: repeat;
    background-attachment: mixed;
    background-position: center;
}

.anuncio-rgba {
    text-align: $text;
    background-color: $mainColor;
    padding: $paddingMd;
    padding: $paddingSm $paddingAu;
    border-radius: $borderR;
    margin: $marginMd;
    border: $borderDo;

    p { 
    color: $keyColor;
    font-weight: $fontRo;
    font-size:$fontSma;
    margin: $marginMd $marginMd;
    }
}

#flex{
    display: flex;
    justify-content: start
}

//div

.tt {
    font-weight: $fontWe;
    font-size: $fontXxl;
    text-align: $text;
    letter-spacing: 0.3rem;
    padding: $paddingLg $paddingAu;
    margin: $marginMd;
    border-radius: $borderR;
}

.titulo-central {
    background-color: $mainColor;
    padding: $paddingLg $paddingLg;
    border-radius: $borderR;
    border: $borderDo;

    &:hover {
        color: $otroColor;
    }

}

.spam {
    &:hover {
        color: $otroColor1;
    }
}

.cambio-de-color {
    color: $secundaryColor;
    font-size: $fontSm;
    font-weight: $fontWe;
}

//div

//contacto

.titulo-contacto {
    text-align: $text;
    background-color: $mainColor;
    padding: $paddingMd;
    padding: $paddingSm $paddingAu;
    border-radius: $borderR;
    margin: $marginMd;
    border: $borderDo;
}

form{
    width: 450px;
    margin: $marginAu;
    background: $specialColor;
    padding: $paddingLg $paddingLgg;
    margin-bottom: $marginXl;
    box-sizing: border-box;
    margin-top: $marginXl;
    border-radius: $borderRmd;
    label{
        font-size: $fontMd;
        display: block;
        width: 100%;
    }
    .label-black{
        font-weight: $fontWe;
    }
    input,textarea{
        width: 100%;
        margin-top: $marginMd;
        margin-bottom: $marginXl;
        padding: $paddingMd;
        box-sizing: border-box;
        font-size: $fontSi;
    }
    textarea{
        resize: vertical;
        max-height: 100px;
        min-height: 100px;
    }
    #btn{
        background: $mainColor;
        color: $secundaryColor;
        font-weight: $fontWe;
        padding: $paddingMd;
        &:hover{
            color: $otroColor;
        }
    }
}
@media(max-width:480px){
    form{
        width: 100%;
    }
}
//end contacto

div {
    .map {
        padding-top: $paddingLg;
        padding-bottom: $paddingLg;
    }
}

#footer {
    background-color: $mainColor;
    text-align: $text;
    padding-left: $paddingLg;
    padding-top: $paddingLg;
    border-radius: $borderRmd;
    border: $borderDo;
    display: flex;
    flex-direction: column;
    margin: $marginMd;

    h2 {
        font-weight: $fontWe;
        font-size: $fontSi;
        display: flex;
        justify-content: $text;
    }
}

#footer2 {
    display: flex;
}

//productos
.novedades h1 {
    text-align: $text;
    font-family: $fontRo;
    font-weight: $fontWe;
    background-color: $mainColor;
    padding: $paddingLg $paddingLg;
    border-radius: $borderR;
    border: $borderDo;
}

#contenedor {
    display: flex;
    flex-direction: column;
    .galeria {
        display: flex;
        p.precios {
            color: $secundaryColor;
            font-size: $fontSi;
            font-weight: $fontWei;
            background-color: $mainColor;
            padding: $paddingMd;
            border-top-left-radius: $borderXl;
            border-bottom-right-radius: $borderXl;
        }
        figcaption {
            font-size: $fontMd;
            color: $secundaryColor;
            font-weight: $fontMd;
            padding: $paddingSm;
        }
        button {
            background-color: $otroColor2;
            font-weight: $fontWe;
            padding: $paddingMd $paddingMd;

            &:hover {
                color: $otroColor;
            }
        }
    }
}

//trabajos

#nuestros-trabajos{
    h1{
        background-color: $mainColor;
        text-align: $text;
        font-family: $fontRo;
        font-weight: $fontWe;
        padding: $paddingLg $paddingLg;
        border-radius: $borderR;
        border: $borderDo;
    }
}
.card-smd{
    font-size: $fontSmd;
}
.p-letters{
    color: $secundaryColor;
    font-family: $fontRo;
    font-size: $fontSma;
    font-weight: $fontWe;
}
button{
    background-color: $otroColor2;
    font-weight: $fontWe;
    padding: $paddingMd $paddingLg;
    border-top-right-radius: $borderXl;
    border-bottom-left-radius: $borderXl;
    &:hover{
        color: $otroColor;
    }
}


//informacion
#info{
    display: flex;
    justify-content: $text;
    padding: $paddingXl;
    img{
        width: 25%;
        margin: $marginXl;
        background-color: $specialColor;
    }
    .img1{
        background-color: $mainColor;
    }
}
@media(max-width:1024px){
    #info{
        width: 100%;
        flex-direction: column-reverse;
        align-items: $text;
    }
}

h1 {
    text-align: $text;
    font-family: $fontRo;
    font-weight: $fontWe;
    background-color: $mainColor;
    padding: $paddingMd;
    border-radius: $borderRlg;
    border: $borderDo;
}
h2{
    border: $borderDo;
    text-align: $text;
    font-family: $fontRo;
    font-weight: $fontWe;
    background-color: $mainColor;
    padding: $paddingMd;
    border-radius: $borderRlg;
}
p{
    text-align: $text;
    font-family: $fontRo;
    padding: $paddingSm;
    font-weight: $fontRo;
}
.p-color{
    color: $keyColor;
}
.firs-l{
    &::first-letter{
        color: $otroColor1;
        background-color: $otroColor;
        font-size: $fontXl;
        padding-bottom: $paddingLg;
        border: $borderDo;
        padding: $paddingSm;
    }
}
.spam-2{
    font-weight: $fontWe;
    transition: .5s linear;
    text-shadow: 0 0 20px $secundaryColor;
    &:hover{
        color: $secundaryColor;
    }
}
.spam-3{
    font-weight: $fontWe;
    transition: .5s linear;
    text-shadow: 0 0 10px $otroColor;
    &:hover{
        color: $otroColor;
    }
}
//nosotros

h1{
    font-weight: $fontWe;
    font-size: $fontXxl;
    text-align: $text;
    letter-spacing: 0.3rem;
    padding: $paddingLg $paddingAu;
    margin: $marginMd;
    border-radius: $borderR;
}
p{
    font-size: $fontSmd;
    line-height: 1.6em;
    padding-left: $paddingMd;
    color: $otroColor;
    font-family: $fontRo;
    font-weight: $fontWe;
    text-align: $text; 
}
h2{
    font-weight: $fontWe;
    font-size: $fontXxl;
    text-align: $text;
    letter-spacing: 0.3rem;
    padding: $paddingLg $paddingAu;
    margin: $marginMd;
    border-radius: $borderR;
}
.card{
    border: $borderDo;
    background-color: $mainColor;
}
h3{
    color: $secundaryColor;
    font-weight: $fontWe;
    text-align: $text;
    border-top-left-radius: $borderRmd;
    border-bottom-right-radius: $borderRmd;
}