@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$fontRo:'Roboto', sans-serif;

$fontWe:bold;
$fontWei:bolder;
$fontMd:500;

$fontSm:x-small;
$fontSma:small;
$fontSmd:1.2em;
$fontSi:larger;
$fontXl:x-large;
$fontXxl:xx-large;

$text:center;
