@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$fontRo:'Roboto', sans-serif;

$fontWe:bold;
$fontWei:bolder;
$fontMd:600;

$fontSm:x-small;
$fontSmd:1.2em;
$fontSi:larger;
$fontXxl:xx-large;

$text:center;
