//vars
$mainColor:rgba(128, 128, 128, 0.438);
$secundaryColor: black; 
$keyColor: gray;
$otroColor:blueviolet;
$otroColor1: white;
$otroColor2:pink;
$otroColor3:rgba(0, 110, 255, 0.87);

$paddingSm:2px;
$paddingMd:5px;
$paddingLg:10px;
$paddingXl:30px;
$paddingAu:auto;
$paddingTo:10px;
$paddingBo:10px;

$marginSm:2px;
$marginMd:5px;
$marginLg:10px;

$borderR:0.5rem;
$borderRlg:2px;
$borderRmd:5px;
$borderXl:10px;
$borderDo:double;
$borderRid:ridge;




